<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        #date {
            display: inline-block;
            padding: 6px;
            background-color: black;
            color: white;
            font-size: 16px;
        }
    </style>
</head>

<body onload="getTime()">
    <!--jinja2-->
    <h1>Hello,{{user_name}}

        <p id="date">
            {{date}}
        </p>



    </h1>
    <ul>
        <li><a href="/stock" target="_blank">亞股資訊</a></li>
        <li><a href="/pm25">PM2.5全台資訊</a></li>
        <li><a href="/pm25-charts">PM2.5全台資訊圖</a></li>

    </ul>

    <script src="{{url_for('static',filename='./js/main.js')}}"></script>
</body>

</html>