<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>

<body>
    <section class="hero is-warning is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <!--12 column-->
                    <div class="column  has-text-centered">
                        <p class="title">
                            Login
                        </p>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-6 has-text-centered">
                        <form action="" class="box">
                            <p class="field has-text-left">
                                <label for="" class="label">帳號</label>
                                <input type="text" name="" id="username" class="input">
                            </p>
                            <p class="field has-text-left">
                                <label for="" class="label">密碼</label>
                                <input type="text" name="" id="password" class="input">
                            </p>
                            <p class="field has-text-left">
                                <label for="" class="label">
                                    <input type="checkbox" class="checkbox">記住帳號
                                </label>
                            </p>
                            <p class="field">
                                <button type="submit" class="button is-dark has-text-danger">登入</button>
                                <button type="submit" class="button is-dark has-text-white">註冊</button>
                            </p>
                        </form>
                    </div>
                </div>


            </div>
        </div>

        </div>
        </div>
    </section>
</body>

</html>